*{
    text-align: center;
}
body{
    background-image: url("../image/CSS3.png");
    background-color: red;
}
p{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size: larger;
 border-bottom: 1px solid#0f0 ;
}
h2{
    text-decoration: underline;
    font-weight: bold;
}